.main_image{
    background-image: url("../public/images/content/main_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    margin-top: 0px;
    background-color: #212121 !important;
    color: #b89535 !important;
    width: 50px;
    height: 50px;
    border-radius: 25px!important;
}
.owl-prev {
    border: 2px #b89535 solid !important;
    color: #b89535;
    left: -35px;
    transition: background-color 0.5s;
}
.owl-prev:after{
    position: absolute;
    left: 20px;
    top: 17px;
    content: "|";
    transform: rotate(125deg);
}
.owl-prev:before{
    position: absolute;
    left:20px;
    top: 6px;
    content: "|";
    transform: rotate(45deg);
}

.owl-prev:hover{
    color: #fdfdfd !important;
    background-color: #b89535 !important;
    transition: background-color 0.5s;
}
.owl-next {
    border: 2px #b89535 solid !important;
    color: #b89535;
    right: -35px;
    transition: background-color 0.5s
}
.owl-next:after{
    position: absolute;
    right: 20px;
    top: 15px;
    content: "|";
    transform: rotate(45deg);
}
.owl-next:before{
    position: absolute;
    right:20px;
    top: 7px;
    content: "|";
    transform: rotate(125deg);
}
.owl-next:hover {
    color: #fdfdfd !important;
    background-color: #b89535 !important;
    transition: background-color 0.5s;
}

.trans{
    opacity: 0;
    transition: opacity 0.9s;
}
.trans:hover{
    opacity: 1;
    transition: opacity 0.9s;
}

.slider-up-info .upper{
    width: 100%;
    position: absolute;
    bottom: -10px;
    transition: 0.5s;
    opacity: 0;
    z-index: -1;
}
.slider-up-info:hover .upper{
    position: absolute;
    bottom: 0;
    opacity: 0.9;
    transition: 0.5s;
    z-index: 2;
}

.marging-title{
    margin: 12vh 0 1vh auto;
}
.zoom-img img{
    padding: 5px;
    transform: scale(1.0);
    transition: 0.9s;
}
.zoom-img img:hover{
    padding: 5px;
    transform: scale(1.01);
    transition: 0.9s;
}
.design-select{
    position: relative;
}
.design-select label{
    position: absolute;
    top: 10px;
    left: -5px;
    background-color: grey;
}
.design-select input{
    position: absolute;
    top:15px;
}
.design-select:hover > label{
    background-color: #3c3c3c;
}
.design-select input[type=radio]:checked ~ .d1{
    background-color: #b89535;
}

.number {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 60px;

}
.number input[type="number"] {
    background-color: #212121;
    border: #212121 1px solid;
    border-bottom: 1px solid #b89535;
    color: #b89535 !important;
    display: block;
    height: 60px;
    line-height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 36px;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}
.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
.number-minus {
    background-color: #212121;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 60px;
    height: 60px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    font-size: 36px;
    font-weight: 600;
    color: #b89535 !important;

}
.number-plus {
    background-color: #212121;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 60px;
    height: 60px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    font-size: 36px;
    font-weight: 600;
    color: #b89535 !important;
}
.user-form input{
    background-color: #212121;
    border: #212121 1px solid;
    border-bottom: 1px solid #b89535;
    color: #b89535 !important;
    display: block;
    height: 60px;
    line-height: 32px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}
.proporcional {

    padding: 2px;
}

img.calc-height {
    object-fit: contain;
    width: 100%;
    height: auto;

}

